
<h1>Тестовый проект для работы !</h1>

<p-toolbar>
  <div style="gap: 10px;" class="p-toolbar-group-start">
    <p-button icon="pi pi-refresh" label="Обновить"  class="btn btn-primary"></p-button>
    <p-button label="Экспорт отчёта в Excel" class="btn btn-primary"></p-button>
  </div>
</p-toolbar>

<dx-tab-panel [width]="'100%'" [height]="'100%'" [selectedIndex]="selectedIndex"
              (onSelectionChanged)="onTabChanged($event)">

  <dxi-item title="Кассовый прогноз БП за год">
    <div *dxTemplate>
      <p>
        Раздел Кассовый прогноз БП за год
      </p>
      <dx-data-grid
        [dataSource]="dataGridCashPlanBp.data"
        [columns]="dataGridCashPlanBp.columns">
      </dx-data-grid>
    </div>
  </dxi-item>
  <dxi-item title="Кассовый прогноз за год">
    <div *dxTemplate>
      <p>
        Раздел Кассовый прогноз за год
      </p>
      <dx-data-grid
        [dataSource]="dataGridCashPlanYear.data"
        [columns]="dataGridCashPlanYear.columns">
      </dx-data-grid>
    </div>
  </dxi-item>
  <dxi-item title="Колледжи">
    <div *dxTemplate>
        <p>
          Раздел Колледжи
        </p>
      <dx-data-grid
        [dataSource]="dataGridCashPlanCollege.data"
        [columns]="dataGridCashPlanCollege.columns">
      </dx-data-grid>
    </div>
  </dxi-item>

</dx-tab-panel>

